<%= form_with(model: post, local: true, html: { multipart: true }) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="align-items: center; display:flex; flex-direction: column;">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div style="align-items: center; display:flex; flex-direction: column;">
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </div>

  <div style="align-items: center; display:flex; flex-direction: column;">
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </div>

  <div style="align-items: center; display:flex; flex-direction: column;">
    <%= form.submit class: "submibtn" %>
  </div>
<% end %>